<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cdd8a">  <td>19/04/07 13:19:37</td>   <td>0</td> <td title="&lt;&lt;FBLogin.closeBrowser()[pri:0, instance:testCases.FBLogin@7113b13f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@212921632</td>   <td></td> </tr>
<tr bgcolor="7cdd8a">  <td>19/04/07 13:19:00</td>   <td>-36555</td> <td title="&gt;&gt;FBLogin.initBrowser()[pri:0, instance:testCases.FBLogin@7113b13f]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@212921632</td>   <td></td> </tr>
<tr bgcolor="7cdd8a">  <td>19/04/07 13:19:34</td>   <td>-2567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FBLogin.login()[pri:0, instance:testCases.FBLogin@7113b13f]">login</td> 
  <td>main@212921632</td>   <td></td> </tr>
</table>
